.game {
  background: #ebffd4;
  color: #3a6e00;
  padding: 20px;
}

.team {
  font-size: 1.2rem;
  margin: 0 10px;
}

.vs {
  font-size: 0.75rem;
}

.location{
  font-size: 10px;
  padding-top: 8px;
}

.live{
  font-size: 30px;
  padding-bottom: 15px;
font-weight: 700;
}
