.away, .home{

  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-bar{
  height: 50px;
  width: 1000px;
  border: 1px solid darkgreen;
  margin-left: 25px;
  flex-grow: inherit;
  border-radius: 7px;
  position: relative;


}

.away-team, .home-team{
  padding: 3px 5px;

}

.ball{
  font-size: 35px;
  position: absolute;
}


.display { display: none}

.ball:hover .display {
  display: block;
  position: absolute;
  font-size: 15px;
  background: #5BAB00;
  color: white;
  padding: 10px;
  z-index: 5;
}
